<form action="{{ url_for("register_user")}}" method="post">
<label for="idno">ID NO:</label>
<input type="text" id="idno" name="id_no" placeholder="id_no">
<label for="firstname">First Name:</label>
<input type="text" id="firstname" name="first_name" placeholder="firstname">
<label for="middlename">Middle Name:</label>
<input type="text" id="middlename" name="middle_name" placeholder="lastname">
<label for="lastname">Last Name:</label>
<input type="text" id="lastname" name="last_name" placeholder="firstname">
<label for="location">Location:</label>
<input type="text" id="location" name="location" placeholder="firstname">
<label for="password">Password:</label>
<input type="text" id="password" name="password" placeholder="firstname">
<label for="cpassword">Confirm Password:</label>
<input type="text" id="cpassword" name="c_password" placeholder="firstname">
<label for="email">Email:</label>
<input type="text" id="email" name="email" placeholder="firstname">
<button type="submit">Register Voter</button>
