section.vh-100 {
  background-repeat: round;
  background-blend-mode: soft-light;
  backface-visibility: visible;
}

.slogan_main {
  color: #000000;
  text-shadow: 0 1px 0px #37b43d, 1px 0 0px #5dcd99, 1px 2px 1px #5fb437,
    2px 3px 2px #a8b437, 6px 5px 2px #5dabcd, 6px 7px 1px #0cf117,
    8px 7px 0px #ffffff;
  letter-spacing: 1px;
}
